<h1>List an Item</h1>
<%= form_for @listing do |f| %>
<p>
  <%= f.label :item %><br>
  <%= f.text_field :item %>
</p>
<p>
  <%= f.label :brand %><br>
  <%= f.text_field :brand %>
</p>
<p>
  <%= f.label :url %><br>
  <%= f.text_field :url %>
</p>
<p>
  <%= f.submit "Post" %>
</p>
<% end %>
