<%= link_to "Back to Listings", listings_url %> | <%= link_to "Edit", edit_listing_path(@listing) %>

<p> <%= @listing.item %>, <%= @listing.brand %> </p>
<p> <%= @listing.quantity %> available for trade </p>
<%= image_tag(@listing.url) %>
